@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

*, *::before, *::after{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

}
body{
  background-image: url('./images/bg-body.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
}
