@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;900&display=swap');

*, *::before, *::after{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

}
body{
  background-color: #0b0f1a;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
}
