#type-filter{
    height: 40px;
    background-color: aqua;
    color: black;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
#list-of-element{
    color:aliceblue;
}
.element{
    
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
}
.element:hover{
    background-color: rgb(97, 95, 95);
    transition: 0.1s ease all;
}
.active{
    font-size: 20px;
    cursor: pointer;
    padding-left: 10px;
    background-color: rgb(97, 95, 95);
}