/* *box-filter */
#box-filter{
    /* border-radius: 40px; */
    /* background-color: bisque; */
}
#type-filter{
    /* height: 40px; */
    background-color: aqua;
    color: black;
    /* padding-left: 20px; */
    border-radius: 15px;
    margin-bottom: 10px;
    /* margin-top: 20px; */
    /* display: flex;
    align-items: center; */
}
#h3-title{
    background-color: black;
    color: aliceblue;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
        ;
}
.element{
    
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
}
.element:hover{
    background-color: rgb(97, 95, 95);
    transition: 0.1s ease all;
}
.active{
    font-size: 20px;
    cursor: pointer;
    padding-left: 10px;
    background-color: rgb(97, 95, 95);
}