/* *Home*/
#Home{
    display: flex;
}
/* *Table of filter */
.table-filter{
    width: 20%;
    margin-top: 14px;
    margin-left: 15px;

    
}
@media only screen and (max-width:900px){
    .table-filter{
        position: absolute;
        background-color: #0b0f1a;
        padding: 10px;
        width: 250px;
        top: 200px;
        left: -260px;
        transition: 1s ease all;
    }
    .table-filter-active{
        position: absolute;
        background-color: #0b0f1a;
        padding: 10px;
        width: 250px;
        top: 200px;
        left: 0;
        transition: 1s ease all;
    }
    
}

/* *main-container */
#main-container{
    /* background-color: lightblue; */
    width: 80%;
}
@media only screen and (max-width:900px){
    #main-container{
        width: 100%;
    }
}

#pagination-listgames{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* *Title of filter */
#title-filter{
    display: flex;
    align-items: center;
    height: 50px;
    font-weight: 600;
    font-size: 20px;
    padding-left: 20px;
    background-color: rgb(65, 60, 60);
    color: white;
}
/* *List of video games */
#list-of-videogames{
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-flow: row wrap;
}
@media only screen and (max-width:900px){
    #list-of-videogames{
        justify-content: center;
    }
}


/* *box-spinner*/
.box-spinner{
    background-color: rgba(3, 3, 3,0.7);
    height: 581px;
    display: flex;
    justify-content: center;
    align-items: center;
}

