/* *Search Name*/
#SearchName{
    display: flex;
    justify-content: center;;
    align-items: center;
    width: 60%;
    height: 50px;
    
}
@media only screen and (max-width:900px){
    #SearchName{
        margin-left: 0;
        width: 80%;
        /* background-color: lightcoral; */
        border-radius: 25px;
        margin-right: 10px;
    }
}

/* *Button*/
#buttonSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    height:35px;
    background-color: #0b0f1a;
    width: 40px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    cursor: pointer;
}

#buttonSearch:hover{
    background-color: #161d2b;
}
#icon{
    color: white;
}
/* *Input navBar */
.inputNavBar{
    height: 35px;
    width: 75%;
    font-size: 1rem;
    padding-left: 15px;
    border: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    font-family: 'Raleway', sans-serif;
}
@media only screen and (max-width:900px){
    #SearchName{
        width: 100%;
    }
}
