/* *Imagen-detail*/
#image-detail{
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    height: 750px;
}
/* *Container global*/
#container-global{
    background-color: rgba(11, 15, 26,0.7);
    height: 750px;
}

/* *title-of-game*/
#title-of-game{
    color: aliceblue;
    font-size: 25px;
    font-weight: 100;
    padding-top: 25px;
    padding-left: 20px;
    /* background-color: aqua; */
}
/* *container-details */
#container-details{
    width: 100%;
    height: 100%;
    display: flex;
}
/* *background-box*/
#background-box{
    /* background-color: aqua; */
    width: 50%;
    height: 100%;
    display: flex;
    /* background-color: rgb(230, 220, 245); */
    justify-content: center;
    align-items: center;
}
/* *Bg-image */
#bg-image{
    width: 95%;
    max-height: 600px;
    border-radius: 5px;
    box-shadow: 3px 0px 10px rgba(163,163,163, 1);;
}
/* *Box-info */
#box-info{
    width: 50%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#box-info p{
    padding-left: 20px;
}
/* *descriptionl*/
#description{
    /* background-color: blueviolet; */
    padding-top: 20px;
    color: white;
}
#text-description{
    font-size: 14px;
    
}
/* *released*/
#released{
    /* background-color: blue; */
    color: white;
    display: flex;
    align-items: center;

}
/* *rating-game*/
#rating-game{
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    color: white;

}
#box-date{
    display: flex;
    font-size: 18px;
    font-weight: 600;
}
/* *platforms-detail*/
#platforms-detail{
    color: white;
}

.type-list{
    display: flex;
    flex-flow: row wrap;
}
/* *genres-detail*/
#genres-detail{
    color: white;
}
h3{
    padding: 10px 0px 8px 20px;
}
