#OptionSearch{
    display: flex;
    width: 95%;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    
}
/* *electionsOfOrder */
#electionsOfOrder{
    background-color:#43D9BD;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;

}

/* *select-order */
.select-order{
    height: 30px;
    width: 200px;
    border: none;
	-moz-appearance: none;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-left: 15px;
    background-color: #161d2b;
    color: white;
    border-radius: 15px;
}


