#OptionSearch{
    display: flex;
    width: 99%;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
/* *electionsOfOrder */
#electionsOfOrder{
    background-color: aqua;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

/* *select-order */
.select-order{
    height: 30px;
    width: 200px;
    border: none;
    font-size: 17px;
    font-family:'Raleway', sans-serif;
    padding-left: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.select-order:hover{
    box-shadow: 3px 0px 30px rgba(241, 239, 239,1);
}
