/* *box-pagination */
#box-pagination{
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 20px;
}
@media only screen and (max-width:900px){
    #box-pagination{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
#box-pagination h3 {
    color: white;
    margin-right: 30px;;
}
/* *page-link */
.page-link{
    text-decoration: none;
    color: white;
}
/* *pagination */
#pagination{
    display: flex;
}
#pagination{
    list-style: none;
}
#pagination li{
    font-size: 20px;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
}
/* *page-item-active */
.page-item-active{
    background-color: #43D9BD;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-weight: 700;
}