/* *Navigation */
#Navigation{
    /* position: fixed; */
    background-color: #0b0f1a;
    box-shadow: 10px 0px 30px black;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* *Logo NavBar */
#LogoNavBar{
    padding: 0 60px;
}
#LogoNavBar img{
    width: 100px;
    height: 30px;
}
/* *Menu items */
#MenuItems{
    display : flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 30px;
    margin-left: 30px;
}
#MenuItems li{
    margin: 25px 10px;
    font-size: 20px;
    font-weight: 700;
}
#MenuItems a{
    text-decoration: none;
    color: white

}
#MenuItems a:hover{
    color: #43D9BD;
    transform: scale(1.040);
}
